{% extends 'registration/base.html' %}
{% load static %}
{% block content %}

<div class="user">
    <header class="user__header">
        <h1 class="user__title"  style="color:#f6f7f5;font-family: 'Atma', cursive;letter-spacing: 4px; font-size: 20px;"> Login form</h1>
    </header>
    <form class="form" action="" method="POST" >
    {% csrf_token %}
       
        <div class="form__group">
            <input type="text" placeholder="Username" name="username" class="form__input validate" />
        </div>
     
        <div class="form__group">
            <input type="password" placeholder="Password" name='password' class="form__input validate" />
        </div>
      
        <input type="submit" class="form__input" value="Login">
    </form>
</div>

{% endblock %}
