{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<div class="user">
    <header class="user__header">
        <h1 class="user__title"
            style="color:#f6f7f5;font-family: 'Atma', cursive;letter-spacing: 4px; font-size: 20px;"> sign-up form</h1>
    </header>
    <form class="form" action="" method="POST" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        {{form|crispy}}
        <input type="submit" class="form__input" value="Register">
    </form>
</div>
{% endblock %}