{% extends 'base.html' %}
{% load static %}
{% block title %} Courses {% endblock %}

{% block content %}
<header class="info-header">
  <div id="page-intro" class="container-fluid d-flex align-items-center justify-content-center ">
    <div class="row d-flex justify-content-center text-center">
      <div class="col-md-10 text-white">
        <!-- heading -->
        <h2 class="display-4 font-weight-bold  p-5 "
          style="color:#76B947;font-family: 'Atma', cursive;letter-spacing: 4px;"> Curriculum</h2>
        <div class="row d-flex justify-content-center text-center">
          <ul class="breadcrumb" style="font-family: 'Source Code Pro', monospace;">
            <li><a href="{% url 'index' %}">Home</a></li>
            <li class="disabled-text">Curriculum</li>


          </ul>
        </div>

        <!-- divider -->
        <hr style="color:#76B947;">

        <!-- description -->
        <!-- <h4 class="white-text my-4">“The more that you read, the more things you will know. The more that you learn, the more places you’ll go.” – Dr.  Seus</h4> -->
      </div>
</header>
<!-- section 1 for courses-->
<div class="jumbotron jumbotron-fluid text-center bg-gray">
  <h2 class="font-weight-bold" style="color:#76B947;font-family: 'Source Code Pro', monospace;">Explore our
    curriculum</h2>
  <!-- class row for description-->
  <div class="row d-flex justify-content-center">
    <!-- class column -->
    <div class="col-md-8">
      <p class="grey-text" style="font-size: 20px;">Istudy is an online learning tool for kids from Kindergarden to
        Grade 3 three. The lessons and materials
        provided are based on the class. Find the one suitable for your kid, and start enjoying learning with us!<br>To
        get started just pay a one time fee of RWF100</p>
    </div>
  </div>
</div>
<section id="best-features" class="text-center">


  <!-- class row2 for cards -->
  <div class="row ml-2 mr-2">
    {% for course in courses %}
    <div class="col-md-3 d-flex mb-5 justify-content-center">
      <div class="card card-std text-center" style="width: 20rem;">
        <div class="card-body text-center">
          <h4 class="card-title"
            style="color:#fff;font-family: 'Atma', cursive;letter-spacing: 4px;font-weight: bolder;"><i
              class="fas fa-child"></i>&nbsp;{{course.name}}</h4>
          <p class="card-text">{{course.description|truncatechars:75}}</p>

          {% if user.is_authenticated %}

          <form>
            <script src="https://api.ravepay.co/flwv3-pug/getpaidx/api/flwpbf-inline.js"></script>
            <!-- <a href="https://ravesandbox.flutterwave.com/pay/istudy" class="btn btn-warning"
              style="font-family: 'Source Code Pro', monospace;">Let's get started</a> -->
            <button type="button" class='btn btn-warning' onClick="payWithRave()">PAY</button>

          </form>


          {%else%}
          <a href="{% url 'login' %}" class="btn btn-warning">Login</a>
          {%endif%}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
<script>
  const publicKey = '{{public_key}}'
  const phone = "{{current_user.phone_number}}"
  const email = "{{current_user.email}}"
  const random = "{{random_num}}"
  function payWithRave() {
    var x = getpaidSetup({
      PBFPubKey: publicKey,
      customer_email: email,
      amount: 1000,
      customer_phone: phone,
      currency: "RWF",
      txref: random.toString(),
      custom_title: "istudy",
      onclose: function () { },
      callback: function (response) {
        var txref = response.tx.txRef;
        console.log("This is the response returned after a charge", response);
        if (
          response.tx.chargeResponseCode == "00" ||
          response.tx.chargeResponseCode == "0"
        ) {
          document.location.href = "http://127.0.0.1:8000/curriculum/1/"
          // redirect to a success page
        } else {
          // redirect to a failure page.
        }
        x.close();
      }
    });
  }
</script>

{%endblock%}