{% extends 'base.html' %}

{% load static %}

{% block title %} {{lesson.name}} {% endblock %}


{% block content %}

<section class="text-center">
  <h2 class="mb-0 mt-5 font-weight-bold" style="color:#76B947;font-family: 'Source Code Pro', monospace;">Lecture Details</h2>
  <div class="row d-flex justify-content-center mb-3">
    <blockquote class="blockquote mt-0">
      <footer class="blockquote-footer">Created on {{lesson.created_at}} by <cite
          title="Source Title">{{lesson.created_by}}</cite></footer>
    </blockquote>
  </div>
  <!-- video -->

  <div class="row d-flex justify-content-center mb-3">
    <div id="player-overlay">
      <video controls>
        <source src="{{lesson.video.url}}" type="video/mp4">
      </video>
    </div>
  </div>

  <!-- download cards -->
  <div class="row d-flex justify-content-center mb-3 mt-3">
    <!-- download presentations -->
    <div class="col-md-4 mb-4 mt-4">
      <div class="card box-shadow-hover">
        <div class="card-body">
          <h5 class="card-title">Download Presentations</h5>
          {% if lesson.ppt %}
          <p class="card-text">Download presentations from the lecture</p>
          <a href="{{lesson.ppt.url}}" download>
            <button type="button" class="button-les"><span>Get Files</span></button>
          </a>
          {% else %}
          <p class="card-text"> No PPT available</p>
          {% endif %}

        </div>
      </div>
    </div>
    <!-- download notes -->
    <div class="col-md-4 mb-4 mt-4">
      <div class="card box-shadow-hover">
        <div class="card-body">
          <h5 class="card-title">Download Notes</h5>
          {% if lessons.Notes %}
          <p class="card-text">Download notes from the lecture</p>
          <a href="{{lesson.Notes.url}}" download>
            <button type="button" class="button-les"><span>Get Files</span></button>
          </a>
          {% else %}
          <p class="card-text">Notes not available</p>
          {%endif%}

        </div>
      </div>
    </div>
    <!-- download video -->
    <div class="col-md-4 mb-4 mt-4">
      <div class="card box-shadow-hover">
        <div class="card-body">
          <h5 class="card-title">Download Video</h5>
          <p class="card-text">Download Video from the lecture</p>
          <a href="{{lesson.video.url}}" download>
            <button type="button" class="button-les"><span>Get Files</span></button>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- update and delete button -->
  <div class="row d-flex justify-content-center mb-3 mt-3">
    {% if user.userprofileinfo.user_type == 'teacher' or user.is_superuser %}
    <div class="col-md-6 mb-3 text-center">
      <a href="" class="btn btn-warning btn-lg mr-4 btn-block">Update Lesson</a>
    </div>
    <div class="col-md-6">
      <a href="" class="btn btn-danger btn-lg mr-4 btn-block"> Delete Lesson </a>
    </div>
    {% endif %}
  </div>
</section>

<hr class="my-5" style="color:#76B947;">


{%endblock%}