{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% load static %}

{% block title %} {{lesson.name}} {% endblock %}


{% block content %}
<style>
  @media screen and (min-width: 600px) {
    .children form {
      margin-left: -48px;
    }

    .children .children form {
      margin-left: -96px;
    }
  }

  .card {
    background: #8ccc5e;
    color: #fff;
    
  }

  .card-title {
    color: #fff;
    font-family: 'Atma', cursive;
    letter-spacing: 4px;
    font-weight: bolder;
  }
  .card-1{
    background: #b0ec85;
    color: #fff;
    font-weight: bold;
  }
</style>

<section class="text-center">
  <h2 class="mb-0 mt-5 font-weight-bold" style="color:#76B947;font-family: 'Source Code Pro', monospace;">Lecture
    Details</h2>
  <div class="row d-flex justify-content-center mb-3">
    <blockquote class="blockquote mt-0">
      <footer class="blockquote-footer">Created on {{lesson.created_at}} by <cite
          title="Source Title">{{lesson.created_by}}</cite></footer>
    </blockquote>
  </div>
  <!-- video -->

  <div class="row d-flex justify-content-center mb-3">
    <div id="player-overlay">
      <video controls>
        {% if lesson.video.url %}
        <source src="{{lesson.video.url}}" type="video/mp4">
        {% else %}
        <source src="#" type="video/mp4">
        {%endif%}

      </video>
    </div>
  </div>

  <!-- download cards -->
  <h3 class="mb-5 mt-5 font-weight-bold" style="color:#76B947;font-family: 'Atma', cursive;letter-spacing: 4px;">Master
    your lesson</h3>

  <div class="row d-flex justify-content-center mb-3 mt-3 ml-3 mr-3"
    style='border:1px solid grey; border-radius:20px; background-color: rgb(252, 245, 245);'>
    <!-- download presentations -->
    <div class="col-md-4 mb-4 mt-4">
      <div class="card box-shadow-hover">
        <div class="card-body">
          <h5 class="card-title">Download Presentations</h5>
          {% if lesson.ppt %}
          <p class="card-text">Download presentations from the lecture</p>
          <a href="{{lesson.ppt.url}}" download>
            <button type="button" class="button-les"><span>Get Files</span></button>
          </a>
          {% else %}
          <p class="card-text"> No PPT available</p>
          {% endif %}

        </div>
      </div>
    </div>
    <!-- download notes -->
    <div class="col-md-4 mb-4 mt-4">
      <div class="card box-shadow-hover">
        <div class="card-body">
          <h5 class="card-title">View or Notes</h5>
          {% if lesson.notes %}
          <p class="card-text">View notes from the lecture</p>
          <a href="{{lesson.notes.url}}">
            <button type="button" class="button-les"><span>My notes</span></button>
          </a>

          {% else %}
          <p class="card-text">Notes not available</p>
          {%endif%}

        </div>
      </div>
    </div>
    <!-- download video -->
    <div class="col-md-4 mb-4 mt-4">
      <div class="card box-shadow-hover">
        <div class="card-body">
          <h5 class="card-title">Download Video</h5>
          <p class="card-text">Download Video from the lecture</p>
          {% if lesson.video.url %}

          <a href="{{lesson.video.url}}" download>
            <button type="button" class="button-les"><span>Get Video</span></button>

          </a>
          {% else %}
          <p class="card-text">No video available</p>
          {%endif%}
        </div>
      </div>
    </div>
    <!-- update and delete button -->
    <div class="row d-flex justify-content-center mb-3 mt-3">
      {% if user.userprofileinfo.user_type == 'teacher' or user.is_superuser %}
      <div class="col-md-6 mb-3 text-center">
        <a href="{% url 'curriculum:lesson-update' subject_id=subject.id lesson_id=lesson.id %}"
          class="btn btn-warning btn-lg mr-4 btn-block">Update Lesson</a>
      </div>
      <div class="col-md-6">
        <a href="{% url 'curriculum:lesson-delete' lesson.id %}" class="btn btn-danger btn-lg mr-4 btn-block"> Delete
          Lesson </a>
      </div>
      {% endif %}
    </div>
  </div>

</section>

<h3 class="mb-5 mt-5 font-weight-bold text-center"
  style="color:#76B947;font-family: 'Atma', cursive;letter-spacing: 4px;">Leave a comment</h3>

<div class="container">
  <div class="row justify-content-md-center pt-5">
    <div class="col-md-7">
      {% with allcomments.count as total_comments %}
      <h2>
        {{ total_comments }} comment{{ total_comments|pluralize }}
      </h2>
      {% endwith %}
      {% load mptt_tags %}
      <div>
        {% recursetree comments %}
        <div id="{{ node.id }}" class="my-2 p-2" style="border: 1px solid grey;">
          <div class="font-weight-bold">
            <img src="https://res.cloudinary.com/ucynthy12/image/upload/v1609854539/421-4212275_transparent-default-avatar-png-avatar-img-png-download_cgxfx9.png" alt="John Doe" class="mr-3 mt-3 rounded-circle" style="width:30px;">
            By {{ node.author }}<div class="float-right">{{ node.publish }}</div>
          </div>
          <div class="mt-2 ml-5">{{ node.content }}</div>

          <hr>
          {% if node.level < 3 %} <button class="btn btn-warning" onclick="myFunction({{node.id}})">Reply</button>

            {%endif%}
        </div>
        {% if not node.is_leaf_node %}
        <div class="children pl-2 pl-md-5">
          {{children}}
        </div>
        {% endif %}
        {% endrecursetree %}
      </div>
      <div class="py-4">
        <nav aria-label="Page navigation example">
          {% if comments.has_other_pages %}
          <ul class="pagination">
            {% if comments.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ comments.previous_page_number }}">Previous</a>
            </li>
            {% else %}
            <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
            {% endif %}
            {% for num in comments.paginator.page_range %}
            {% if comments.number == l %}
            <li class="page-item active"><span class="page-link">{{ num }} <span class="sr-only">(current)</span></span>
            </li>
            {% else %}
            <li><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
            {% endif %}
            {% endfor %}
            {% if comments.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ comments.next_page_number }}">Next</a></li>
            {% else %}
            <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
            {% endif %}
          </ul>
          {% endif %}
        </nav>
      </div>

      <hr style="color:#76B947;">

      <h2  style="color:#76B947;font-family: 'Source Code Pro', monospace;">Make a new comment</h2>

      <div class="card card-1">
        <div class="card-body">
          <form id="myForm" method="post">
            {{ comment_form.as_p }}
            {% csrf_token %}
            <button type="submit" class="btn btn-warning btn-lg btn-block">Submit</button>
          </form>
        </div>
      </div>

      

    </div>
  </div>

</div>

<script>

  function formExit() {
    document.getElementById("newForm").remove();
  }

  function myFunction(id) {

    if (document.contains(document.getElementById('newForm'))) {
      document.getElementById('newForm').remove()
    }
    var a = document.getElementById(id);

    a.insertAdjacentHTML('afterend', '<form id="newForm" class="form-insert py-2" method="post"> \
                <div class="d-flex justify-content-between"><h2>Reply:</h2><div><button type="button" class="btn btn-outline-secondary" onclick="formExit()"">Close</button></div></div> \
                <label for="id_author">Author:</label> \
                <input type="text" name="author" class="col-sm-12" maxlength="50" required="" id="id_author">\
                <select name="parent" class="d-none" id="id_parent"> \
                <option value="' + id + '" selected="' + id + '"></option> \
                </select>  \<label for="id_content">Content:</label> \
                <textarea name="content" cols="40" rows="5" class="form-control" required id="id_content"></textarea> \
                {% csrf_token %} \
                <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button> \
              </form>');

  }
  $(document).ready(function () {
    $('#myForm').trigger('reset')
  });


</script>
{%endblock%}