{% extends 'base.html' %}
{% load static %}
{% block title %} Payment {% endblock %}

{% block content %}
<div class="container" style="margin-top: 7%;">
    <div class="row">
        <div class="col-lg-3 col-md-2"></div>
        <div class="col-lg-6 col-md-8">
            <div class="card box-shadow-hover text-center" style="background-color: #76B947;color: white;">
                <div>
                    <h3 class="card-title">Order summary</h3>
                    <hr style="color:#fff; width: 60%;">

                </div>
                <div class="card-body">
                    <div class="row ">
                        <div class="col-md-7 font-weight-bold"><i class="fas fa-laptop"></i>&nbsp;{{course.name|title}} course</div>
                        <div class="col-md-5">
                            <div class="d-flex">
                                <p class="mr-4">RWF 10.000 </p>
                                <form>
                                    <script
                                        src="https://api.ravepay.co/flwv3-pug/getpaidx/api/flwpbf-inline.js"></script>

                                    <button type="button" class='btn btn-warning' onClick="payWithRave()">PAY</button>
                                </form>

                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-2"></div>
    </div>
</div>
<script>
    const publicKey = '{{public_key}}'
    const phone = "{{current_user.phone_number}}"
    const email = "{{current_user.email}}"
    const random = "{{random_num}}"
    const course_id = "{{course.id}}"
    function payWithRave() {
        var x = getpaidSetup({
            PBFPubKey: publicKey,
            customer_email: email,
            amount: 10000,
            customer_phone: phone,
            currency: "RWF",
            txref: random.toString(),
            custom_title: "istudy",
            onclose: function () { },
            callback: function (response) {
                const { data: { transactionobject } } = response
                if (
                    transactionobject.acctvalrespmsg === 'Approved'
                ) {
                    document.location.href = "http://127.0.0.1:8000/curriculum/" +course_id+"/"+transactionobject.txRef+"/"


                    console.log(transactionobject)
                    // redirect to a success page
                } else {
                    // redirect to a failure page.
                }
                x.close();
            }
        });
    }
</script>
{%endblock%}