{% extends 'base.html'  %}
{% load static %}
{%block title %}About page{% endblock%}
{% block content %}

<main class="mt-3">
  <div class="container mt-5">
   

    <section class="text-center">
      <h2 class="mb-5 font-weight-bold" style="color:#76B947;font-family: 'Source Code Pro', monospace;">OUR GOAL</h2>
      <div class="row d-flex justify-content-center mb-4">
          <div class="col-md-8">
            <p class="grey-text">Enhance the quality of learning and teaching. Meet the learning style or needs of students. Improve the efficiency and effectiveness. Improve user-accessibility and time flexibility to engage learners in the learning process.</p>
          </div>
          <div class="row d-flex justify-content-center mb-3">
          {% for teacher in teachers %}
          <div class="card mb-3 mr-5 ml-3" style="max-width: 500px;">
            <div class="row no-gutters">
                      <div class="col-md-4">
                        <img src="{{teacher.profile_pic.url|default_if_none:'#'}}" class="card-img" alt="No image found">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title" style="color:#76B947;">{{teacher.user.username}}</h5>
                          <p class="card-text">{{teacher.bio|truncatechars:75}}</p>
                          <p class="card-text"><small class="text-muted"></small></p>
                        </div>
                      </div>
            </div>
            </div>
          {% endfor %}
          </div>
      </div>
    </section>

    <!-- <hr class="my-5" style="color:#76B947;"> -->
  </div>

<!-- section 3 for activities -->
<!--  -->
  <!-- <hr class="my-5" style="color:#76B947;"> -->
  <footer class="page-footer" style=" background: linear-gradient(45deg, #49D49D 10%, #5af0b1 90%);">
    <div class="container">
      <div class="row mt-4">
                <div class="col-md-4 mt-4">
                          <h3 class="text-center">About Us</h3> <br>
                          <p>We are a team of software developer for both web and mobile based softwares. For any consern or help needed, never hesitate to reach out to us, we are always there and ready for your service.</p>
                </div>
                <div class="col-md-3 mt-4 ml-5">
                          <h3>Our team:</h3>
                          <ul class="font-weight-bold">
                            <li>Cynthia</li>
                            <li>Benitha</li>
                            <li>K-Claudine</li>
                            <li>Odile</li>
                            <li>Rosine</li>
                            <li>M-Claudine</li>
                          </ul>
                </div>
                <div class="col-md-4 mt-4">
                          <h3>Contact Us</h3>
                          <ul>
                            <li>Address: Nyarugenge,Kigali,Rwanda</li>
                            <li>info.istudy@gmail.com</li>
                            <li>Phone: +250 781-234-567</li>
                          </ul>
                </div>
      </div>
      <div class="footer-copyright text-center py-3">
          <p>© Istudy 2021</p>
      </div>
    </div>
  </footer>

</main>


{%endblock%}
