    <nav class="navbar navbar-expand-md bg-light navbar-light" >
        <div class="container">
            <a class="navbar-brand mr-4  " href="/" style="color: #48a0e9; text-shadow: 2px 8px 6px rgba(0,0,0,0.2),0px -5px 35px rgba(255,255,255,0.3); font-family: 'Source Code Pro', monospace;">Istudy</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">

                <!-- Navbar Right Side -->
                {% if user.is_authenticated %}

                <div class="navbar-nav ml-auto" >
                    <a class="nav-item nav-link mx-3"  href="/">Home</a>
                    <li class="nav-item">
                        <a class="nav-link mx-3" 
                            href="{% url 'curriculum:course_list' %}">Curriculum</a>
                    </li>
                    {% if user.is_superuser %}
                    <li class="nav-item ">
                        <a class="nav-link mx-3"  href="{% url 'admin:index' %}">Admin</span> </a>
                    </li>
                    {% endif %}
                    <a class="nav-item nav-link mx-3"  href="">About</a>
                    <a class="nav-item nav-link mx-3"  href="{% url 'profile' user.username %}">Profile</a>
                    <a class="nav-item nav-link mx-3"  href="{% url 'logout' %}">Logout</a>
                    {% else %}
                    <div class="navbar-nav ml-auto" >
                        <a class="nav-item nav-link mx-3 "  href="/">Home</a>

                        <a class="nav-item nav-link mx-3 " 
                            href="{% url 'curriculum:course_list' %}">Curriculum</a>
                        <a class="nav-item nav-link mx-3"  href="">About</a>
                        <a class="nav-item nav-link mx-3"  href="{% url 'login' %}">Login</a>
                        <a class="nav-item nav-link mx-3"  href="{% url 'signup' %}">Register</a>
                    </div>

                </div>
                {% endif %}

            </div>
        </div>
    </nav>